@model Lamazon.Services.ViewModels.User.UserInfoVM


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body shadow">
                    <h3 class="card-title text-center">My Profile</h3>
                    <hr>

                    <div class="mb-3">
                        <label class="form-label"><strong>First Name:</strong></label>
                        <p class="form-control">@Model.FirstName</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Last Name:</strong></label>
                        <p class="form-control">@Model.LastName</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Username:</strong></label>
                        <p class="form-control">@Model.UserName</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Email:</strong></label>
                        <p class="form-control">@Model.Email</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Phone Number:</strong></label>
                        <p class="form-control">@Model.PhoneNumber</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>City:</strong></label>
                        <p class="form-control">@Model.City</p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><strong>Address:</strong></label>
                        <p class="form-control">@Model.Address</p>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a asp-action="EditProfile" asp-controller="Profile" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



